<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <ul id="barra">
      <li> <a href='/'>Inicio</a></li>
      <li> <a href='/author'>Créditos</a></li>
    </ul>
    <br>
    <h2>Nombre: Juan José Alberca Ramírez</h2>
    <img src='/images/me.png'>
    <h3>Sobre mi:</h3>
        <p>Hola, soy un estudiante del Grado de Tecnologías y Servicios de Telecomunicación de la UPM y este es mi proyecto Quiz para la asignatura de CORE. Espero que les guste.</p>

    <footer> <div class='define'> <p>Juan José Alberca. Contacto: <a href="mailto:jj.alberca@alumnos.upm.es" target="_top">jj.alberca@alumnos.upm.es</a></p></div> 
    </footer>
  </body>
</html>