    <h2>Nombre: Juan José Alberca Ramírez</h2>
    <img src='/images/me.png'>
    <h3>Sobre mi:</h3>
        <p>Hola, soy un estudiante del Grado de Tecnologías y Servicios de Telecomunicación de la UPM y este es mi proyecto Quiz para la asignatura de CORE. Espero que les guste.</p>

    <div class='define'> <p>Contacto: <a href="mailto:jj.alberca@alumnos.upm.es" target="_top">jj.alberca@alumnos.upm.es</a></p></div>