<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <br>
    <ul id="barra">
      <li> <a href='/'>Inicio</a></li>
      <li> <a href='/author'>Créditos</a></li>
    </ul>
    <br>
    <p>El portal donde podrá crear sus propipos juegos!</p>
    <nav><ul id="barra">
    <li> <a '/'>Inicio</a></li>
    <li> <a '/quizes/question'>Comience a jugar</a></li>
    </ul></nav>
  </body>
</html>
